@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display:flex;
}
.bg-light{
  background-color:rgba(255, 144, 14, 0.1);
}
/* dark02 */
.text-gray{
  color:#424242;
}
/* dark03 */
.text-light-gray{
  color:#727272;
}

/* header styles */
.brand{
  font-size:3rem;
  font-weight:700;
}
.btn-primary{
  font-size:1.25rem;
  font-weight:600;
  color:white;
  background-color:rgba(255, 144, 14, 1);
  padding:20px 25px;
  border-radius:8px;
  border:none;
}

/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items:center;
}
.nav-item{
  list-style: none;
  margin-right:30px;
}

.navbar, .banner{
  max-width:1440px;
  margin:0 auto;
}

/* banner related styles */
.banner-contents{
  max-width:850px;
  margin:0 auto;
  text-align:center;
  margin-bottom:50px;
}
.banner-title{
  font-size:4rem;
  font-weight:700;
}
.banner-description{
  font-size:1rem;
}
.banner-image{
  width:100%;
}

/* Responsive media query */
@media screen and (max-width:576px){
  .navbar, .nav-links{
    flex-direction:column;
  }
}